<settings>
<category label="Service">
<setting id="service" label="Service" type="bool" default="false" />
<setting id="service.startup" label="Update on Login" type="bool" default="true" visible="eq(-1,true)"/>
<setting id="service.type" label="Service Schedule Type" type="enum" default="Time" visible="eq(-2,true)" values="None|Period|Time" />
<setting id="service.interval" label="Interval" type="number" default="24"  visible="eq(-3,true)+eq(-1,1)" />
<setting id="service.time" type="time" label="Service Time" default="03:33" visible="eq(-4,true)+eq(-2,2)"/>
</category>
</settings>